.song-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .cover {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    .details {
        .name {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
            color: white;
        }

        .artist {
            color: #b3b3b3;
            font-size: 1rem;
        }
    }
}