/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

button {
    font-family: inherit;
}